<<<<<<< HEAD
body{
    background-color: red;
}


.container-header{

    width: 100%;
    height: 200px;
    background-color: aqua;

}

.container-section-promo{

    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: aqua;
}

=======
h1{

    color: brown;

}

body{

    background-color: #fffbf7;

}


#cabecera{

    color: #46484c;
    
}

#promocional{

    color: #8b8b8bcc;

}

#boton{

    color: #fff;
    background:  #025157;

    
}





.cabecera{

>>>>>>> f1dc57b66c8ac7e4150ae45a203d4ece4c769b27

